@tailwind preflight;

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: initial;
}
a:hover {
  opacity: 0.7;
}

.post p {
  margin: 16px 0;
  letter-spacing: 0.25px;
}

.post h2 {
  margin: 16px 0;
  letter-spacing: 0.2px;
}

.gatsby-highlight-code-line {
  background-color: lighten(#141414, 10%);
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid $green;
}
/**
 * Add back the container background-color, border-radius, padding, margin
 * and overflow that we removed from <pre>.
 */
.gatsby-highlight {
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
}

/**
 * Remove the default PrismJS theme background-color, border-radius, margin,
 * padding and overflow.
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .gatsby-highlight.
 */
.gatsby-highlight pre[class*='language-'] {
  margin: 0;
  padding: 0;
  overflow: initial;
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

@tailwind utilities;
