@tailwind base;

@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: "Inter var", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  overflow-wrap: break-word;
}

.remark p {
  margin: 12px 0;
  font-size: 14px;
}

.remark ol {
  list-style: inherit;
  margin-left: 16px;
}

.remark li {
  font-size: 14px;
}

.remark table {
  display: block;
  overflow-x: auto;
  font-size: 14px;
  margin: 16px 0;
}

.remark table th,
.remark table td {
  padding: 4px 16px;
  border: 1px solid #111;
}

.remark h1 {
  font-weight: 700;
  font-size: 80px;
  line-height: 88px;
}

@media only screen and (max-device-width: 768px) {
  .remark h1 {
    font-size: 40px;
    line-height: 44px;
  }
}

.remark pre {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
}

.remark h2 {
  font-weight: 700;
  font-size: 24px;
  margin: 32px 0 16px;
}

.remark h3,
.remark h4 {
  font-weight: 500;
  font-size: 18px;
  margin: 32px 0 16px;
}
.remark img {
  margin: 16px 0;
}

@tailwind components;
@tailwind utilities;
